.Container{
    background-image: linear-gradient(#2980B9,#6DD5FA,#ffffff);
    margin-top: -35px;
    padding: 2px;
    h1{
        
        margin-left: 20px;
    }
    .block1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
        img{
            height: 41vh;
    width: 27vw;
            border-radius:10px ;
        }
        p{
           font-size: 1.8vw;
            border-color: aqua;
            width: 50%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Container{
        height: fit-content;
        h1{
            font-size: 34px;
        }
        .block1{
            flex-direction: column;
            align-items: center;
            font-size: 6vw;
            img{
              width: 86% !important;
              height: 40vh !important;
            
            }
            p{
                width: 90%;
                line-height: 25px !important;
                font-size: 16px !important;
               
              
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    .Container{
       
        h1{
           
        }
        .block1{
          gap: 20px;
          padding-left: 13px;
       
           
            img{
              width: 65%;
              height: 47vh;
            
            }
            p{
                width: 90%;
                font-size: 19px;
               
              
            }
        }
    }

}