.Container{
    h1{
        font-size: 50px;
        margin-left: 20px;
    }
    .block1{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        img{
            height: 50vh;
            width: 30vw;
            border-radius:10px ;
        }
        p{
            font-size: 27px;
            border-color: aqua;
            width: 50%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Container{
        height: fit-content;
        h1{
            font-size: 34px;
        }
        .block1{
            flex-direction: column;
            align-items: center;
            font-size: 6vw;
            img{
              width: 90%;
            }
            p{
                width: 90%;
                font-size: 22px;
               
              
            }
        }
    }
}