.container{
    display: flex;
    flex-direction: column;
    
    background-color: bisque;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px;
   
    h1{
        font-size: 40px;
        text-shadow: 13px 2px 19px rgb(92, 90, 90)
    }
    .form{

       width: 40%;
       
    
        form{
            margin: auto;
            height: 75vh;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button{
                margin-bottom: 13px;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .container{
            h1{
                font-size: 9vw;
            }
        .form{
          width: 90%;
            form{

            }
        }
    }
}