.wrapper{
   height: 100vh;
    animation: change 10s infinite ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -25px 0px 0px 0px;
  
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
       
    
        .block1{
           color: white;
           font-size: 3vw;
            text-align: center;
            height: 10vh;
            margin-top: 30px;
            margin-bottom: 15px;
         
        }
        .block2{
      
            display: flex;
            justify-content: space-around;
            .info{
   
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 60vh;
                font-size:2vw ;
            }
            .contact{
           
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50vh;
                font-size:2vw ;
                .icons{
                    width: 19vw;
                    display: flex;
                    justify-content: space-around;
                    font-size:3vw ;
                }

            }

        }
    }
 
}
@keyframes change{
  
    0%{
        background-image: url('./utils/1.jpg');
    }
    25%{
        background-image: url('./utils/2.jpg');
    }
   50%{
        background-image: url('./utils/3.jpg');
    }
   75%{
        background-image: url('./utils/2.jpg');
    }
   100%{
        background-image: url('./utils/1.jpg');
    }
}

@media only screen and (max-width: 600px) {
    .wrapper{
        height: 80vh;
        .container{
            .block1{
                width: 100%;
                font-size: 7.7vw !important;
                height: 6vh;
                
            }
            .block2{
                
                .info{
                    font-size: 6vw !important;
                  
                    height: 50vh;
                    margin: auto;
                }
                flex-direction: column;
                .contact{
                    display: none;
                }
            }
        }
    }
}



@media only screen and (max-width: 900px) {
    .wrapper{
        padding-top: 20px;
        .container{
           margin-top: 0px;
            .block1{
                
                font-size: 6vw;
            }
            .block2{
                padding-top: 14px;
                .info{
                    font-size: 3vw;
                }
                .contact{
                    font-size: 3vw;
                    .icons{
                        font-size: 4.3vw;
                    }
                }
            }
        }
    }
}