.block {
  background-color: rgb(88, 81, 81);

  h1 {
    color: #ffffff84;
    font-size: 45px;

    margin-left: 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 140vh;

    .container {
      display: flex;
      justify-content: space-around;
      .block1 {
        .card {
          width: 23vw;
          background-color: black;
          div:hover {
            background-color: aqua;
            transition: ease-in 0.3s;
            color: rgb(37, 36, 36);
            transition: all 1.3 linear;
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h3 {
              font-size: 24px;
              border-bottom: 1px solid rgb(141, 136, 136);
              width: 100%;
            }
            img {
              width: 80%;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .block {
    height: fit-content;
    h1 {
      font-size: 9vw;
 
    }
    .wrapper {
      height: fit-content;
      .container {
        flex-direction: column;
        align-items: center;
        .block1 {
          .card {
            width: 85vw;
            margin-bottom: 30px;
            div {
              background-image: linear-gradient(#2193b0, #6dd5ed);
              h3 {
                width: 100%;
                font-size: 7vw;
               
                border-bottom: 1px solid rgb(34, 33, 33);
              }
             p{
              background-color: #6dd5ed;
              width: 100%;
             }
            }
          }
        }
      }
    }
  }
}
